-#.row
-#  %article.span12[edition]
-#    .details.row
-#      .description.span8= raw(edition.rendered_description)
-#      .map.span4
-#        %ul.thumbnails
-#          %li.span4
-#            .thumbnail
-#              %img{ src: 'http://placehold.it/300x200' }

%article.row[edition]
  .description.span8= raw(edition.rendered_description)
  .map.span4
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{ src: 'http://placehold.it/300x200' }