%article.edition.span12
  %header
    %h3
      Nog geen meet-up gepland.
  -#.details.row
  -#  .description.span8= raw(edition.rendered_description)
  -#  .map.span4
  -#    %ul.thumbnails
  -#      %li.span4
  -#        .thumbnail
  -#          %img{ src: 'http://placehold.it/300x200' }