-#- content_for :sponsors do
-#  %ul.thumbnails
-#    %li.span4
-#      .thumbnail
-#        %img{ src: 'http://placehold.it/300x150' }
-#    %li.span4
-#      .thumbnail
-#        %img{ src: 'http://placehold.it/300x150' }
-#    %li.span4
-#      .thumbnail
-#        %img{ src: 'http://placehold.it/300x150' }

- if @upcoming
  = render @upcoming
- else
  = render partial: 'no_edition'