article.edition {
      
  > .description {
    > h2 {
      font-size: 30px;
      line-height: 60px;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    
    > p {
      font-family: 'Droid Serif', serif;
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
      text-shadow: 0 1px 1px #666;
      margin-bottom: 20px;
      > a {
        color: #2C3230;
      }
    }
  }
  
  > .map {}
  
}