#home {
  article#upcoming {
    
    > header {
      > h3 {
        font-size: 36px;
        line-height: 60px;
        padding: 0 20px;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        text-align: center;
      }
    }
    
    .details {
      margin-top: 30px;
      border-radius: 5px;
      
//      background: #F2DCC2;
//      color: #037F8C;
      
      > .description {
        
        font-family: 'Droid Serif', serif;
        font-size: 19px;
        line-height: 27px;
        
        text-align: justify;
        
        
        &:first-letter {
          font-size: 144px;
          line-height: 144px;
          vertical-align: top;
          float: left;
          line-height: 100%;
          margin: 0 20px 0 0;
        }
        
        > p {
          font-family: 'PT Sans', sans-serif;
          font-size: 16px;
          line-height: 25px;
        }
      }
      > .map {
        
      }
    }
  }
}