%form{ action: "http://newsletter.lesslines.com/t/r/s/yhhihdy/", method: "post", id: "subForm", class: 'well form-search' }
  %p
    Meld je aan voor de Groningen.rb nieuwsbrief om op de hoogte te blijven 
    van de nieuwe edities.
  %input{ type: "text", name: "cm-yhhihdy-yhhihdy", id: "yhhihdy-yhhihdy", placeholder: 'Email', class: 'input-xlarge' }
  %input{ type: "submit", value: "Aanmelden", class: 'btn' }