%form{ action: "http://newsletter.lesslines.com/t/r/s/yhhihdy/", method: "post", id: "subForm", class: 'well form-search newsletter' }
  %input{ type: "text", name: "cm-yhhihdy-yhhihdy", id: "yhhihdy-yhhihdy", placeholder: 'Email', class: 'input-xlarge search-query' }
  %input{ type: "submit", value: "Aanmelden", class: 'btn btn-success' }