%h2 Nieuwsbrief
#mc_embed_signup
  %form{ action: "http://groningen-rb.us5.list-manage.com/subscribe/post?u=df2bd9a726ceccf76992c5318&amp;id=332c1bab43", method: "post", id: "mc-embedded-subscribe-form", name: "mc-embedded-subscribe-form", class: "validate well newsletter form-search", target: "_blank" }
    %input{ type: "email", value: "", name: "EMAIL", class: "required email input-xlarge search-query", id: "mce-EMAIL", placeholder: 'Email (verplicht)' }
    %input{ type: "submit", value: "Aanmelden", name: "subscribe", id: "mc-embedded-subscribe", class: "button btn btn-success" }