%form{ action: "http://newsletter.lesslines.com/t/r/s/yhhihdy/", method: "post", id: "subForm", class: 'well' }
  %div
    %input{ type: "text", name: "cm-yhhihdy-yhhihdy", id: "yhhihdy-yhhihdy", placeholder: 'Email' }
    %input{ type: "submit", value: "Subscribe", class: 'btn' }