%h2 Sponsoren
.well
  = link_to image_tag('logo-launch-cafe.png'), 'http://launchcafe.nl'
.well
  = link_to image_tag('logo-yb.png'), 'http://www.yellowbirdsdonthavewingsbuttheyflytomakeyouexperiencea3dreality.com/'
